.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: large;
	width: 66%;
	height: 12vh;
}

.navbar-phrase {
	color: #848484;
	text-align: center;
	font-weight: 400;
	margin-top: 0.5rem;
}

.nav-link {
	text-decoration: none;
	font-size: 1.3rem;
	color: #8f8f8f;
}

.nav-link:hover {
	transition: all 100ms ease;
	color: aliceblue;
}

.navbar-medias {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	gap: 1rem;
}

@media screen and (max-width: 800px) {
	.navbar {
		width: 90%;
		justify-content: space-between;
	}
}
