.divisor {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.divisor-title {
	color: #848484;
}

.divisor-curve {
	width: 60vw;
}

@media screen and (max-width: 800px) {
	.divisor {
		width: 100%;
		flex-direction: column;
	}
	.divisor-curve {
		width: 95%;
	}
}
